@import '@xterm/xterm/css/xterm.css';

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--dialog-color: light-dark(rgb(247, 251, 255), rgba(5, 8, 12, 0.711));
	--dialog-border-color: light-dark(black,rgba(255, 255, 255, 0.373));
}

html, body {
	width: 100dvw;
	height: 100dvh;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

h1 {
	margin: 0;
	margin-bottom: 0.25rem;
	opacity: 0.7;
}

form {
	& input {
		min-height: 1.5rem;
	}

	& input[type="checkbox"] {
		vertical-align: middle;
	}
}

dialog {
	padding: 2rem;
	border-radius: 1rem;
	background-color: var(--dialog-color);
	border: 2px solid var(--dialog-border-color);

	& > p {
		text-align: center;
	}

	& h2 {
		margin: 0;
		margin-bottom: 1rem;
	}

	& fieldset {
		margin: 0.5rem 0;
	}

	& form {
		& > button {
			margin-top: 0.5rem;
		}
	}

	& button {
		padding: 0.25rem 1rem;
		border: none;
		border-radius: 0.15rem;
		background-color: #0b518e;
		color: white;
	}

	& button:hover {
		background-color: #1a66a8;
	}

	& button.secondary {
		background-color: #4a545e;
	}

	& button.secondary:hover {
		background-color: #646f7a;
	}

	& .actions {
		padding-top: 0.5rem;
		display: flex;
		justify-content: center;
		gap: 0.75rem;
	}
}

dialog::backdrop {
	background-color: #0117278d;
	backdrop-filter: blur(5px);
}

body {
	background: #031e33;
	background: linear-gradient(142deg, rgba(3, 30, 51, 1) 12%, rgba(9, 91, 121, 1) 52%, rgba(77, 0, 26, 1) 94%);
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	/* max-width: 1024px; */
	margin: 0;
	padding: 0.5rem;
	display: grid;
	grid-template-rows: repeat(3, min-content);
	justify-content: center;
	align-items: center;

	& button {
		padding: 0.25rem;
		border: none;
		border-radius: 0.15rem;
		background-color: #5c81a286;
		color: white;
	}

	& button:hover {
		background-color: #233f56bd;
	}

	& > header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		& button {
			background-color: transparent;
		}
	}
}

#term-view {
	display: flex;
	flex-direction: row;
	gap: 0.15rem;
	--slider-thumb-height: 2rem;
	--slider-thumb-width: 1rem;
	--slider-thumb-radius: 0.25rem;
	--slider-thumb-border: none;
	--slider-thumb-color: oklch(from rgb(215, 240, 255) l c h / 0.5);

	& input[type="range"] {
		-webkit-appearance: none;
		appearance: none;
		/* cursor: pointer; */
		outline: none;
		margin: 0 0.1rem;

		width: 1rem;
		background-color: oklch(from black l c h / 0.5);
		border: none;
		border-radius: 0.25rem;
	}

	& input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;

		height: var(--slider-thumb-height);
		width: var(--slider-thumb-width);
		border: var(--slider-thumb-border);
		border-radius: var(--slider-thumb-radius);
		background-color: var(--slider-thumb-color);
	}

	& input[type="range"]::-moz-range-thumb {
		height: var(--slider-thumb-height);
		width: var(--slider-thumb-width);
		border: var(--slider-thumb-border);
		border-radius: var(--slider-thumb-radius);
		background-color: var(--slider-thumb-color);
	}
}

#xterm-container {
	min-width: 25dvw;
	width: 90dvw;
	max-width: 97dvw;
	min-height: 10dvh;
	height: 60dvh;
	max-height: 80dvh;
	resize: both;
	margin-bottom: 0.25rem;
	border-radius: 0.35rem;
	overflow: hidden;
	opacity: 0.83;
}

.xterm {
	padding: 0.5rem;
	padding-right: 0;

	& .xterm-viewport {
		overflow: hidden;
	}
}

.vertical {
	writing-mode: vertical-rl;
	direction: ltr;
}

footer {
	& a {
		text-decoration: none;
		color: white;
		opacity: 0.5;

		& svg {
			vertical-align: bottom;
		}
	}

	& a:hover {
		opacity: 0.85;
	}
}

form#config {
	& fieldset:first-of-type {
		display: flex;
		align-items: baseline;
		gap: 0.25rem;

		& > input:first-of-type {
			flex-grow: 1;
		}

		& > input:last-of-type {
			max-width: 4rem;
		}
	}

	& fieldset:last-of-type {
		display: grid;
		grid-template-columns: min-content 1fr;
		align-items: baseline;
		column-gap: 0.65rem;
		row-gap: 0.95rem;

		& label {
			display: contents;
		}
	}
}

#diag-err {
	& > p {
		text-align: center;
	}
}

@media (min-width: 1450px) {
	#xterm-container {
		width: 50dvw;
	}
}
